main{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.productimg{
    width: 70%;
    border: black solid 1px;
    border-radius: 1rem;
}
.addbutton {
    display: flex;
    justify-content: center;
   align-items: center;
   flex-direction: column;
   
   
}

.basket{
    border: black 2px solid;
padding: 130px 60px;
border-radius: 1rem;
}

